@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

.dark {
  font-family: "Courier New", Courier, monospace;
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  --theme: rgb(3, 3, 3);
  --entry: rgb(15, 15, 15);
  --primary: rgb(218, 218, 219);
  --secondary: rgb(155, 156, 157);
  --tertiary: rgb(65, 66, 68);
  --content: rgb(196, 196, 197);
  --code-block-bg: rgb(15, 15, 15);
  --code-bg: rgb(15, 15, 15);
  --border: rgb(20, 20, 20);
}

.first-entry {
  margin-bottom: 0;
}

.post-entry > .entry-footer {
  margin-top: 10px;
}

pre {
  background-color: transparent !important;
}
